@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu by default on smaller screens */
    flex-direction: column; /* Stack items vertically */
  }

  .menu-icon {
    display: flex; /* Show hamburger icon */
    flex-direction: column;
  }

  .menu li {
    padding: 10px 0; /* Adjust padding for mobile */
  }
}

.inner-shadow {
  box-shadow: inset 6px 6px 24px 0px #9747ffb2;
}

.road-map-slider{
  height: auto !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
