@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu by default on smaller screens */
    flex-direction: column; /* Stack items vertically */
  }

  .menu-icon {
    display: flex; /* Show hamburger icon */
    flex-direction: column;
  }

  .menu li {
    padding: 10px 0; /* Adjust padding for mobile */
  }
}

.inner-shadow {
  box-shadow: inset 6px 6px 24px 0px #9747ffb2;
}

.road-map-slider {
  height: auto !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-pagination {
  display: none !important;
}

.media-partner-sec .swiper-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .swiper-pagination {
    display: flex !important;
  }
}

.swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet,
.custom-pagination-dot {
  width: 12px;
  height: 12px;
  background-color: #8260b9;
  border: 2px solid #6e45e9;
  border-radius: 50%;
  margin: 0 6px;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active,
.custom-pagination-dot-active {
  background-color: #6e45e9;
  border: 2px solid #ffffff;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet:hover {
  background-color: #6e45e9;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bg-diamond-gradient {
  background: radial-gradient(circle at 77.73% 73%, #200f56, #9747ff);
}

.common-btn-color {
  background: linear-gradient(90deg, #ffffff 0%, #e077ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.shadow-inset-custom {
  box-shadow: inset 6px 6px 24px 0px #9747ffb2;
}

.blog-btn {
  background: radial-gradient(
    123.63% 269.03% at 77.73% 73%,
    #200f56 21.04%,
    #9747ff 100%
  );
}

.border-animation {
  padding: 2px;
  border-radius: 16px;
  position: relative;
  background-image: conic-gradient(
    from var(--border-gradient-angle) at 50% 50%,
    transparent,
    #ffa057 14%,
    #ffe0c2 15%,
    transparent 17%
  );
  background-size: contain;
  background-color: #4a2881;
  animation: rotateBG 9s linear infinite;
}

@keyframes rotateBG {
  0% {
    --border-gradient-angle: 0turn;
  }
  100% {
    --border-gradient-angle: 1turn;
  }
}

@property --border-gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* margin-left: 30px; */
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.smart_wallet:after {
  content: "";
  position: absolute;
  background: linear-gradient(360deg, #321958 -23.6%, #12032b 55.14%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.custom-checkbox-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox-label {
  width: 18px;
  height: 18px;
  border: 2px solid #d8d8d8;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked + .custom-checkbox-label {
  background-color: #4caf50; /* Green when checked */
  border-color: #4caf50;
}

.custom-checkbox:checked + .custom-checkbox-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 2px;
}
